button{
  border: 0;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0);
  color: #fff;
  transition: .2s ease;
}

button:hover{
  background-color: rgba(112, 112, 112, 0.8);
}

button:disabled{
  background-color: rgb(177, 177, 177);;
}
